td {
    display: table-cell;
    vertical-align: inherit;
}
style attribute {
    border-collapse: collapse;
}
table {
    color: inherit;
    margin: 0;
}
img Attributes Style {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    height: 622px;
    aspect-ratio: auto 750 / 622;
    width: 750px;
}
img Attributes Style {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    height: 261px;
    aspect-ratio: auto 750 / 261;
    width: 750px;
}
img Attributes Style {
    border-top-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    height: 498px;
    aspect-ratio: auto 750 / 498;
    width: 750px;
}
background {
    color: aquamarine;
}
#menu {
position:fixed;
top: 0;
}
#What is Mosi-oa-Tunya {
    background-color: aquamarine;
}
#Who named it Victoria-Falls and why {
    background-color: aquamarine;
}
#Interesting facts about Victoria-Falls/Mosi-oa-Tunya {
    background-color: aquamarine;
}
#Pre-Colonial History {
    background-color: aquamarine;
}
#Colonial History of the Falls{
    background-color: aquamarine;
}
#Best times to visit {
    background-color: aquamarine;
}
#Entrance Fees {
    background-color: aquamarine;
}
#Open Times {
    background-color: aquamarine;
}